body{font-family: 'Hammersmith One', sans-serif;
    font-family: 'Poppins', sans-serif;
     margin:0;}
.topnav{display:flex;
        background-color: grey;
        overflow: hidden;
        width:100%;}
    .topnav a{text-decoration: none;
            text-align:center;            
            padding:10px 20px;
            width: 20%;
            color:white;}
.topnav a:hover{background-color: rgb(5, 109, 92);}