body{font-family: 'Hammersmith One', sans-serif;
    font-family: 'Poppins', sans-serif;
     margin:0;}
.topnav{display:flex;
        background-color: grey;
        overflow: hidden;
        width:100%;}
    .topnav a{text-decoration: none;
            text-align:center;            
            padding:10px 20px;
            width: 20%;
            color:white;}
.topnav a:hover{background-color: seagreen;}
.flex-container{display: flex;
                }
 .half-width{width:30%;
            margin-top:20px;
              padding-left:2%;}
.half-width img{width:50%;
                padding-left:700px;
                 }
h1{font-size:35px;}
.color{color:gold}
.author{color:grey}
hr{height:2px;
   background-image: linear-gradient(to right, red, yellow, rgb(232, 17, 240), rgb(73, 14, 235));
   border:none;}
.content{width:40%;
         margin-left:4%;
         margin-top:100px;
         padding:2%;
         box-shadow: 5px 5px 20px gray;}
#border{border-left:5px solid;
        border-image: linear-gradient(red, green);
        border-image-slice: 1;}
#border-css{border-left:5px solid;
            border-image: linear-gradient(rgb(166, 255, 0), rgb(226, 11, 144));
            border-image-slice: 1;}
            #border-git{border-left:5px solid;
                border-image: linear-gradient(rgb(12, 142, 218), rgb(218, 241, 8));
                border-image-slice: 1;}
                #border-java{border-left:5px solid;
                    border-image: linear-gradient(rgb(75, 69, 69), rgb(29, 23, 34));
                    border-image-slice: 1;}
footer p {text-align:center;
           margin-top:50px;}